body {
  background-color: antiquewhite;
  color: #3a3846;
  font-size: 10px;
}

header {
  height: 50px;
  background-color: #3A3846;
  position: sticky;
  top: 0;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;;
}

p {
  font-family: 'Montserrat', serif;
  font-size: 30px
}
p::first-letter {
  text-transform: uppercase;
}

img {
  max-width: 500px;
  float: left;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  font-size: 25px;
  display: block;
  color: #DED9DD;
  text-align: center;
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
}

a:visited{
  color:#E1BB47
}

a:hover{
  color:#3A5683;
}
